main{
    height: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:skyblue;
    height: 100px;
    text-align: center;
}

main{
    background-color: skyblue;
    height: auto;
    
}

footer{
    display: flexbox;
    align-items: flex-end;
    background-color: skyblue;
    height: 100px;
}

.mainDisplay{
    display: grid;
    justify-content: center;
}

.tituloAlto{
    color: blue;
    font-style: Verdana;
    font-size: 35px;
}

.tituloAlto1{
    color: blue;
    font-style: Verdana;
    font-size: 35px;
    text-align: center;
    background-color:skyblue;
}

.tituloBajo{
    display:flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.agregarItems{
    align-items: center;
    font-size: 18px;
    width: auto;
    font-style: Century Gothic;
    /* grid-area: espacio1; */
}

#productosAgregados{
    display: inline-block;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: auto;
    
}